body {
    padding-top: 70px
}

.panel-footer + .panel-body {
    border-top: 1px solid #ddd;
}

textarea {
    resize: vertical;
}

.user-foto {
    border: 1px solid #cccccc;
}

.ng-invalid.ng-dirty {
    border-color: #ebebeb;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.ng-invalid.ng-dirty:focus {
    border-color: #d2d2d2;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
}

.ng-valid.ng-dirty {
    border-color: #ebebeb;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.ng-valid.ng-dirty:focus {
    border-color: #d2d2d2;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
}

span > .alert.alert-danger {
    margin-top: 20px;
}
/*
body.background-1 {
    background-size: cover;
    background: #fff url(src/images/backgrounds/bike-1.jpg) 0 0 no-repeat;
}

body.background-2 {
    background-size: cover;
    background: #fff url(src/images/backgrounds/bike-2.jpg) 0 0 no-repeat;
}

body.background-3 {
    background-size: cover;
    background: #fff url(src/images/backgrounds/bike-3.jpg) 0 0 no-repeat;
}

body.background-4 {
    background-size: cover;
    background: #fff url(src/images/backgrounds/bike-4.jpg) 0 0 no-repeat;
}

body.background-5 {
    background-size: cover;
    background: #fff url(src/images/backgrounds/bike-5.jpg) 0 0 no-repeat;
}

body.background-6 {
    background-size: cover;
    background: #fff url(src/images/backgrounds/bike-6.jpg) 0 0 no-repeat;
}

body.background-7 {
    background-size: cover;
    background: #fff url(src/images/backgrounds/bike-7.jpg) 0 0 no-repeat;
}

body.background-8 {
    background-size: cover;
    background: #fff url(src/images/backgrounds/bike-8.jpg) 0 0 no-repeat;
}*/
