<div class="row">
    <div class="col-xs-12">
        <h1>Witaj w świecie rowerzystów!</h1>
        <br><br>
        <div class="well well-lg">Jazda na rowerze to świetny sposób na aktywne spędzanie wolnego czasu.
            Zapisuj swoje trasy, komentuj osiągnięcia innych, zintegruj się z grupą wspaniałych zapaleńców!
            Jeżeli tutaj trafiłeś, to wiesz, że Bikers Polska to serwis skierowany dla Ciebie. Pozwalamy Ci zapamiętać
            najlepsze chwile na dwóch kółkach.
        </div>
    </div>
</div>