<div class="row">
    <div class="col-xs-12" ng-controller="MessagesCtrl">
        <div class="jumbotron">
            <a href="#/messages/new" class="btn btn-primary btn-block btn-lg">Dodaj nową wiadomość</a>
        </div>

        <table class="table table-responsive table-hover">
            <tr>
                <th>Lp</th>
                <th>Od</th>
                <th>Do</th>
                <th>Treść</th>
                <th>Akcje</th>
            </tr>
            <tr ng-repeat="msg in messages">
                <td>{{$index + 1}}.</td>
                <td>{{msg.from_first}} {{msg.from_last}}</td>
                <td>{{msg.to_first}} {{msg.to_last}}</td>
                <td>{{msg.value}}</td>
                <td>
                    <a class="btn btn-primary" ng-href="#/messages/new/{{msg._receiver}}">Napisz</a>
                </td>
            </tr>
        </table>
    </div>
</div>