<!-- Lista rowerów -->
<div class="row">
    <div class="col-xs-12" ng-controller="RoutesCtrl">
        <div class="jumbotron">
            <a href="#/routes/new" class="btn btn-primary btn-block btn-lg">Dodaj nową trasę</a>
        </div>

        <table class="table table-responsive">
            <tr>
                <th>Lp</th>
                <th>Trasa</th>
                <th>Początek</th>
                <th>Koniec</th>
                <th>Akcje</th>
            </tr>
            <tr ng-repeat="route in routes">
                <td>{{$index + 1}}.</td>
                <td>{{route.name}}</td>
                <td>{{route.from_dst}}</td>
                <td>{{route.to_dst}}</td>
                <td>
                    <a class="btn btn-primary" ng-href="#/routes/show/{{route.ID}}">Zobacz</a>
                    <a ng-href="#/bikes/edit/{{bike.ID}}" class="btn btn-info">Edytuj</a>
                    <a ng-click="delete(route.ID)" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        </table>
    </div>
</div>