<div class="row">
    <div class="col-xs-12" ng-controller="RoutesShowCtrl">
        <div class="panel panel-primary">
            <div class="panel-heading">Trasa</div>
            <div class="panel-body">
                <p><strong>Początek:</strong> {{route.from_dst}}</p>
                <div ng-if="route._landmarks.length > 0">
                    <p><strong>Punkty na trasie:</strong></p>
                    <ol>
                        <li ng-repeat="landmark in route._landmarks">{{landmark.value}}</li>
                    </ol>
                </div>
                <p><strong>Koniec:</strong> {{route.to_dst}}</p>
            </div>
            <div class="panel-footer">
                <p><strong>Rower</strong> {{route.bike.name}}</p>
                <p><strong>Data</strong> {{route.date_of_ride}}</p>
                <p><strong>Czas trwania</strong> {{route.duration_of_ride}} min</p>
            </div>
            <div class="panel-body">
                <p><strong>Komentarze:</strong></p>
                <div>
                    <div ng-repeat="comment in route._comments">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ comment._first_name }} {{ comment._last_name }}
                                    </div>
                                    <div class="col-md-6 text-right">
                                        {{ comment.date_create | date : 'yyyy-MM-d H:m' }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>{{comment.value}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        Dodaaj nowy komentarz
                        </div>
                        <div class="panel-body">
                            <form name="newComment">
                                <div class="form-group">
                                    <textarea class="form-control" ng-model="new_comment.value" validator="required"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-primary" ng-click="addComment()" validation-submit="newComment">Zapisz</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
