<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bikers Polska</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="src/css/main.css">
</head>
<body ng-app="bikersApp" role="document">
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl">
        <div class="container">
            <div class="navbar-header">
                <a href="#/" class="navbar-brand">Bikers Polska</a>
            </div>
            <div class="navbar-collapse collapse" ng-if="logged">
                <ul class="nav navbar-nav">
                    <li ng-class="{ 'active' : url.active }" ng-repeat="url in urls">
                        <a ng-href="{{url.path}}">{{url.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container theme-showcase" role="main" ng-view></div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <script src="src/js/services/src/auth.js"></script>
    <script src="src/js/services/services.js"></script>

    <script src="src/js/controllers/src/nav.js"></script>
    <script src="src/js/controllers/src/bikes.js"></script>
    <script src="src/js/controllers/src/login.js"></script>
    <script src="src/js/controllers/src/parts.js"></script>
    <script src="src/js/controllers/src/users.js"></script>
    <script src="src/js/controllers/src/routes.js"></script>
    <script src="src/js/controllers/controllers.js"></script>


    <script src="src/js/main.js"></script>
</body>
</html>