<!-- Lista rowerów -->
<div class="row">
    <div class="col-xs-12" ng-controller="BikesCtrl">
        <div class="jumbotron">
            <a href="#/bikes/new" class="btn btn-primary btn-block btn-lg">Dodaj nowy rower</a>
        </div>

        <table class="table table-responsive">
            <tr>
                <th>Lp</th>
                <th>Rower</th>
                <th>Akcje</th>
            </tr>
            <tr ng-repeat="bike in bikes">
                <td>{{$index + 1}}.</td>
                <td>{{bike.name}}</td>
                <td>
                    <a ng-href="#/bikes/show/{{bike.ID}}" class="btn btn-primary">Zobacz</a>
                    <a ng-click="delete(bike.ID)" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        </table>
    </div>
</div>