<!-- Informacje o użytkowniku -->
<div class="row">
    <div class="col-xs-12" ng-controller="UsersCtrl">
        <table class="table table-responsive" id="usersBikes">
            <tr><th> Rower </th><th>Opis</th></tr>
            <tr ng-repeat="bike in user.bikes">
                <td>{{ bike.name }}</td><td>{{ bike.description }}</td>
            </tr>
        </table>

        <table class="table table-responsive" id="usersRoutes">
            <tr><th> Trasa </th><th>Rower</th><th>Data</th><th>Czas</th></tr>
            <tr ng-repeat="route in user.routes">
                <td>{{ route.name }}</td>
                <td>{{ route.bike.name }}</td>
                <td>{{ route.date_of_ride }}</td>
                <td>{{ route.duration_of_ride }}</td>
            </tr>
        </table>
    </div>
</div>
