<div class="row">
    <div class="col-xs-12" ng-controller="UsersNewCtrl">
        <div class="form-group">
            <label for="login">Nazwa użytkownika</label>
            <input type="text" class="form-control" id="login" ng-model="user.login">
        </div>
        <div class="form-group">
            <label for="password">Hasło</label>
            <input type="password" class="form-control" id="password" ng-model="user.password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="submit()">Zapisz</button>
        </div>
    </div>
</div>