<div class="row">
    <div class="col-xs-12" ng-controller="UsersNewCtrl">
        <div class="form-group">
            <label for="login">Nazwa użytkownika</label>
            <input type="text" class="form-control" id="login" ng-model="user.auth.login">
        </div>
        <div class="form-group">
            <label for="password">Hasło</label>
            <input type="password" class="form-control" id="password" ng-model="user.auth.password">
        </div>
        <div class="form-group">
            <label for="first_name">Imię</label>
            <input type="text" class="form-control" id="first_name" ng-model="user.first_name">
        </div>
        <div class="form-group">
            <label for="second_name">Nazwisko</label>
            <input type="text" class="form-control" id="second_name" ng-model="user.second_name">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="submit()">Zapisz</button>
        </div>
    </div>
</div>
